*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #D19C1D;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 920px;
    justify-content: center;
}

.setting{
    display: flex;
    gap: 5px;
}

.btn{
    display: flex;
    align-items: center;
    background-color: #CEFF1A;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
}

.btn-color{
    -webkit-appearance: none;
    width: 25px; 
    height: 25px; 
    border: none;
    border-radius: 50%; 
    padding: 0; 
}

.box-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 800px;
    height: 700px;
    margin: 15px;
    background-color: white;
}

.flex-div{
    display: flex;
    height: calc(100% / var(--rows));
    max-height: calc(100vh / var(--rows));
}

.inner-divs{
    width: calc(100% / var(--columns));
    max-width: calc(100vw / var(--columns));
}

.inner-divs-actived{
    background-color: var(--color);
}